@import "static/styl/vars.styl";
@import "static/styl/test.styl" (min-width: 50px);

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: helvetica, arial;
  color: var(my-color);
  text-shadow: 1px 1px 0 #333;
}

#welcome-to-vintage-heart-coffee-yo- {
  height: 800px;
  background-color: rgba(0,0,0,0.2);
}

