@import "normalize.css";

:root {
  --my-color: #4c555a;
  --sans: 'Whitney A', 'Whitney B', Tahoma, Verdana, sans-serif;
}

html {
  background-color: #494846;
}

body {
  font-family: var(--sans);
  font-weight: 400;
  color: var(--my-color);
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 540px;
  background-image: url('/static/img/main_bg_large-2.jpg') at-2x;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right, center;
  opacity: 0.001;
  z-index: -1;
  transition-delay: 0.1s;
  transition: opacity 0.6s;
}
#bg.bg-in {
  opacity: 1;
}

#menuything {
  position: fixed;
  z-index: 100;
  top: 10px;
  right: 10px;
  display: block;
  height: 30px;
  color: #f4f5f6;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
}
#menuything.below {
  position: absolute;
  top: 506px;
}
#menuything .hours {
  font-weight: bold;
}

#menuything a {
  display: inline-block;
  text-decoration: none;
  color: #f4f5f6;
  border-bottom: 1px solid rgba(255,255,255,0.25);
}
#menuything a:visited {
  color: #f4f5f6;
}
#menuything a:hover {
  text-decoration: underlline;
}
#mapicon {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-bottom: -3px;
  margin-right: -2px;
}

#toplogo {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  width: 100%;
  max-width: 440px;
  height: 440px;
  margin: 50px 0;
}

#toplogo svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 730px) {
  #bg {
    background-image: url('/static/img/main_bg_small-2.jpg') at-2x;
    background-size: cover;
    background-position: bottom, center;
    height: 610px;
  }

  #toplogo {
    display: block;
    margin: 10px auto;
    max-width: 260px;
    height: 540px;
  }

  #toplogo svg {
    display: block;
    position: fixed;
    top: initial;
    left: initial;
    width: 260px;
  }
  #toplogo.below svg {
    position: relative;
    margin-top: 261px;
  }
  #menuything,
  #menuything.below {
    position: absolute;
    top: 530px;
  }
}
@media (max-width: 620px) {
  #bg {
    height: 560px;
    background-position: center, center;
  }
}

.page-container {
  padding: 0;
  background-color: #f4f5f6;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.page-container p {
  padding: 10px 30px;
}

#openingp {
  font-size: 40px;
}
#openingp strong {
  font-size: 52px;
}
.open a {
  color: rgba(76, 85, 90, 0.9);
  text-decoration: none;
  border-bottom: 2px solid rgba(76, 85, 90, 0.3);
}

#secondaryimage-container {
  width: 100%;
  overflow: hidden;
}
#secondaryimage {
  height: 400px;
  background-image: url('/static/img/secondary_bg_large.jpg') at-2x;
  background-size: cover;
  background-position-x: 100%;
  background-position-y: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.4) inset;
  width: 104%;
  margin-left: -2%;
}

#thirdcoastbag {
  float: left;
  padding: 10px 50px 10px 10px;
  width: 160px;
}

#quote {
  color: #f4f5f6;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
  font-size: 26px;
  margin: 0 auto;
  display: block;
  opacity: 0.9;
  max-width: 960px;
  padding: 8% 10%;
}
#yelp {
  display: block;
  font-size: 12px;
  padding-left: 10px;
}
@media (max-width: 642px) {
  #yelp {
    padding-left: 0;
  }
}
#yelp a {
  text-decoration: none;
  color: rgba(255,255,255,0.8);
  border-bottom: 1px solid rgba(255,255,255,0.4);
}

h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 10px;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
}

h5 {
  font-size: 18px;
  text-align: left;
  margin: 5px 0;
  padding: 0;
}

.open {
  font-size: 22px;
  color: #292e31;
  padding: 10px;
  text-shadow: 1px 1px 0 rgba(255,255,255,1);
  max-width: 1016px;
  margin: 10px auto;
}

#map {
  position: relative;
  padding-bottom: 30%;
  height: 0;
  overflow: hidden;
}
#map p {
  padding: 0;
  margin: 2px 0;
}
@media (max-width: 940px) {
  #map {
    padding-bottom: 50%;
  }
}
@media (max-width: 560px) {
  #map {
    padding-bottom: 60%;
  }
}
@media (max-width: 480px) {
  #map {
    padding-bottom: 75%;
  }
}
@media (max-width: 400px) {
  #map {
    padding-bottom: 90%;
  }
}
@media (max-width: 330px) {
  #map {
    padding-bottom: 100%;
  }
}

#map iframe,
#map-box {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

#map-box {
  width: 110%;
  margin-left: -5%;
  box-shadow: 0 0 4px rgba(0,0,0,0.6) inset;
  z-index: 5;
  pointer-events: none;
}

.infowindow {
  width: 190px;
  height: 67px;
}

#instagramphotos-container {
  background-color: #565656;
  padding: 0;
  height: 60px;
  width: 100%;
  opacity: 0.8;
  overflow: hidden;
  box-shadow: 0 0 1px rgb(0,0,0);
}
#instagramphotos {
  padding: 0;
  margin: 0 auto;
  width: 1800px;
  height: 60px;
}
#instagramphotos.less {
  width: 600px;
}
#instagramphotos li {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0;
  overflow: hidden;
  float: left;
}
#instagramphotos li a {
 display: block;
 margin: 0;
 padding: 0;
 height: 60px;
 width: 60px;
}

#instagramphotos li a img {
  border: none;
  margin: 0;
  padding: 0;
  transition: opacity 0.3s ease-in-out;
  transition-delay: 0.1s;
  opacity: 0.4;
}
#instagramphotos li a img:hover {
  opacity: 1;
}

