<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7519092/668844/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/static/css/vintageheart.css">
    <link href="/favicon.ico" rel="icon">
  </head>
  <body>

    <div id="bg"></div>
    <header id="toplogo">
      __SVGLOGO__
    </header>
    <div class="page-container">
{{{ contents }}}
    </div>

    <!-- script src="/static/js/vintageheart.js" async></script-->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','{{ga_id}}');ga('send','pageview');

      setTimeout(function(){
        document.getElementById('bg').className = 'bg-in';
      }, 0);

      (function(){
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCssXGBxOkxCeSDhJIdN1FNMDrwLnomk84&v=3.exp&libraries=places&callback=mapmaker';
        document.body.appendChild(script);
      })();

      function mapmaker() {
        var placeid = 'ChIJ_Yu4jrC1RIYR7gN5B_yPTww';

        var request = {
          placeId: 'ChIJ_Yu4jrC1RIYR7gN5B_yPTww'
        };

        var pos = {
          lat: 30.26505,
          lng: -97.727726
        };

        var map = new google.maps.Map(
          document.getElementById('map'),
          {
            center: pos,
            zoom: 15,
            scrollwheel: false,
            draggable: false,
            noClear: true
          }
        );

        var infowindow = new google.maps.InfoWindow();

        function createMarker(place) {
          var placeLoc = place.geometry.location;
          var marker = new google.maps.Marker({
            map: map,
            position: place.geometry.location
          });

          infowindow.setContent(
            '<div class="infowindow">' +
              '<h5>' + place.name + '</h5>' +
              '<p>1405 E 7<sup>th</sup> St.<br /> Austin, TX 78702' +
            '</div>'
          );
          infowindow.open(map, marker);
        }

        var service = new google.maps.places.PlacesService(map);
        service.getDetails(request, function callback(place, status) {
          if (status == google.maps.places.PlacesServiceStatus.OK) {
            createMarker(place);
          }
        });
      }

      (function() {
        var escapeMap = {
          '&': '&amp;',
          '<': '&lt;',
          '>': '&gt;',
          '"': '&quot;',
          "'": '&#x27;',
          '`': '&#x60;'
        };
        var createEscaper = function(map) {
          var escaper = function(match) {
            return map[match];
          };
          var source = '(?:' + ['&', '<', '>', '"', "'", '`'].join('|') + ')';
          var testRegexp = RegExp(source);
          var replaceRegexp = RegExp(source, 'g');
          return function(string) {
            string = string == null ? '' : '' + string;
            return testRegexp.test(string) ? string.replace(replaceRegexp, escaper) : string;
          };
        };
        window.text_escape = createEscaper(escapeMap);
      })();

      (function getRecentPhotos() {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'https://api.instagram.com/v1/users/232645208/media/recent/?client_id=1a3e4cfffd4541f6918632ee5a579aa2&callback=showphotos';
        document.body.appendChild(s);
      })();

      window.showphotos = function showphotos(resp) {
        var el = document.getElementById('instagramphotos-container');
        var html = '<ul id="instagramphotos">';
        var data = resp.data;
        for(var i = 0; i < data.length; i++) {
          html += '<li><a target="_blank" href="' + encodeURI(data[i].link) + '"><img src="' +
            encodeURI(data[i].images.low_resolution.url) +
            '" width="120" height="120" />' +
            '<div class="caption">' + text_escape(data[i].caption.text) + '</div>' +
            '</a></li>';
        }
        html += '</ul>';
        el.innerHTML = html;
      };
    </script>
  </body>
</html>
